.w1188center{
	width: 1188px;
	margin: 0 auto;
}
.slideBanner{
	position: relative;
    overflow: hidden;
}
#kinMaxShow{
	height: 458px;
	width: 100%;
	overflow: hidden;
}
.bannerRight{
	width: 1325px;
	margin: 0 auto;
	height: 0px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -594px;
	top: 0;
}
.bannerRight .inner{
	width: 300px;
	height: 251px;
	background: url(img/bannerRight.png) no-repeat 0 0;
	position: absolute;
	top: 150px;
	right: 0;
}
.bannerRight .inner .title{
	
	padding: 26px 0 0px;
	width: 310px;
	margin: 0 auto;
}
.bannerRight .inner .title h3,.bannerRight .inner .content h3{
	font-size: 20px;
	font-weight:bold;
	color: #fff;

	margin-left:20px;
	margin-bottom: 22px;
}
.bannerRight .inner .title p{
	color: #fff;
	margin-left:20px;
}
.bannerRight .inner .title p strong{
	font-size: 30px;
	font-family: arial;

	font-weight: normal;
	padding-right: 12px;
}
.bannerRight .inner .content{
	width: 310px;
	margin: 0 auto;
	padding-top: 26px;
}
.bannerRight .inner .content h3{
	font-style: normal;
    margin-bottom: 10px;
}
.bannerRight .inner .content p{
	color: #fff;
	text-align: center;
}
.bannerRight .inner .content p strong{
	font-size: 30px;
	font-weight: normal;
	padding-left: 28px;
}
.bannerRight .inner .bannerA{
	display: block;
	width: 104px;
	height: 34PX;
	background: #fc8026;
	line-height: 34px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	float:left;
	margin-left:33px;
	border-radius:5px
}
.bannerRight .inner .pos1{
	left: 42px;
	bottom: 80px;
}
.bannerRight .inner .pos2{
	right: 40px;
	bottom: 80px;
}
.index_propaganda{
	padding: 20px 0;
	background: #F9F9F9;
}
.index_propaganda .wrap,.index_info .wrap{
	width: 1188px;
	margin: 0 auto;
}

.index_propaganda_left{
	border: 1px solid #E9E9E9;
	border-radius: 5px;
	float: left;
	width: 886px;
	padding: 15px 0;
}
.index_propaganda_left .part{
	float: left;
	margin-left: 112px;
}
.index_propaganda_left .part img{
	display: block;
	margin: 0 auto;
}
.index_propaganda_left .part h3,.index_propaganda_left .part p{
	text-align: center;
}
.index_propaganda_left .part h3{
	font-size: 26px;
	font-weight: normal;
	padding: 10px 0;
	color: #555;
}
.index_propaganda_left .part p{
	color: #666;
	font-size: 14px;
	line-height: 1.5;
}
.index_propaganda_right{
	border: 1px solid #E9E9E9;
	border-radius: 5px;
	width: 274px;
	float: right;
}
.index_propaganda_right .inner{
	height: 261px;
	background: #EEF5FA;
	position: relative;
	z-index: 1;
}
.index_propaganda_right .inner .tag{
	height: 18px;
	width: 52px;
	border-radius: 0 18px 18px 0;
	position: absolute;
	left: -6px;
	background: #008FCF;
	text-indent: 10px;
	color: #fff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
}
.index_propaganda_right .inner .pos1{
	top: 4px;
}
.index_propaganda_right .inner .pos2{
	top: 120px;
}
.index_propaganda_right .inner h3{
	font-size: 34px;
	color: #008fcf;
	font-weight: normal;
	padding-top: 38px;
	text-align: center;
	font-family: arial;
}
.index_propaganda_right .inner p{
	text-align: center;
	color: #666;
	padding-top: 7px;
	margin-bottom: 48px;
}
.index_propaganda_right .inner .info{
	text-align: right;
	margin-bottom: 5px;
	padding-right: 50px;
}
.index_propaganda_right .inner .info strong{
	color: #008FCF;
	font-size: 28px;
	font-family: arial;
	font-weight: normal;
}
.index_propaganda_right .inner .info span{
	color: #666;
}

.wrap .bgno1{
	height: 136px;
	background: url(img/no1.png) no-repeat center center;
	margin-top: 23px;
}
.index_propaganda_right h4{
	height: 28px;
	line-height: 28px;
	color: #666;
	background: #F7F7F7;
	text-indent: 15px;
	font-weight: normal;
}
.index_propaganda_right h4 a{
	float: right;
	height: 28px;
	line-height: 28px;
	color: #008FCF;
	padding-right: 15px;
}
.index_propaganda_right .media{
	display: block;
	height: 138px;
	background: #fff url(img/media.png) no-repeat center center;
	border-radius: 0 0 5px 5px;	
}
.index_info{
	background: #fff;
	padding: 20px 0;
}
.index_info .infoLeft{
	width: 886px;
	float: left;
	border: 1px solid #E9E9E9;
	border-radius: 5px 5px 0 0;
}

.index_info .infoLeft .tabNav li{
	float: left;
	background: #F8F8F8;
	width: 443px;
	text-align: center;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	/*box-shadow: 1px -1px 1px #ddd inset;*/
	font-size: 16px;
	color: #666;
}
.index_info .infoLeft .tabNav li.first{
	border-radius: 5px 0 0 0;
}
.index_info .infoLeft .tabNav li.second{
	border-radius: 0 5px 0 0;
}
.index_info .infoLeft .tabNav li.current{
	background: #fff;
	box-shadow: none;
	color: #008FCF;
	font-size: 16px;
}
.index_info .infoLeft .tabNav li:hover {
    color: #008fcf;
}
.index_info .infoLeft .tabContent{
	background: #fff;
}
.borrowInfo,.lendInfo{
	height: 436px;
	overflow: hidden;
}

.borrowInfo .part,.lendInfo .part{
	padding: 0 20px;
}
.lendInfo .part{
	padding-top: 8px;
	height: 121px;
}
.borrowInfo .part{
	height: 129px;
    border-bottom: 1px dashed #e6e6e6;
}
.borrowInfo_title{
	padding-top: 23px;
	padding-bottom: 4px;
}
.borrowInfo_title i{
	float: left;
	height: 17px;
	width: 19px;
	background: url(img/ppdai2014Icon.png) no-repeat;
	margin-right: 12px;
}
.borrowInfo_title .name{
	float: left;
}
.borrowInfo_title .name span{ float: left;}
.borrowInfo_title .name i{
	background-position: -227px 0;
}
.borrowInfo_title .sum{
	float: right;
}
.borrowInfo_title .sum i{
	background-position: -169px 0;
}
.borrowInfo_title .sum span{ float: left;}
.borrowInfo_detail{
	padding-top: 20px;
}
.borrowInfo_detail_left{
	float: left;	
	width: 640px;
}
.borrowInfo_detail_left .creditRating{
	float: left;
	width: 52px;
	height: 52px;
	background: url(img/creditRating.png) no-repeat;
	margin-right: 20px;
}
.borrowInfo_detail_left .A{
	background-position: -405px -61px;
}
.borrowInfo_detail_left .B{
	background-position: -88px 3px;
}
.borrowInfo_detail_left .C{
	background-position: -167px 3px;
}
.borrowInfo_detail_left .D{
	background-position: -245px 3px;
}
.borrowInfo_detail_left .E{
	background-position: -325px 3px;
}
.borrowInfo_detail_left .AA{
	background-position: -405px 3px;
}
.borrowInfo_detail_left .lendTitle{
	color: #333;
	font-size: 16px;
	float: left;
	width: 560px;
}
.borrowInfo_detail_left .lendTitle:hover {
    color: #20a2e2;
}
.borrowInfo_detail_left p{
	float: left;
	width: 560px;
	color: #666;
	padding-top: 7px;
}
.borrowInfo_detail_left p strong{
	margin-right: 70px;
	font-size: 24px;
	font-weight: normal;
}
.borrowInfo_detail_left p strong.nomr{
	margin-right: 0;
}
.borrowInfo_detail_left p strong em{
	font-weight: normal;
	font-size: 12px;
}
.borrowInfo_detail_right{
	float: right;
}
.borrowInfo_detail_right_percentInfo_percent{
	width: 140px;
	height: 4px;
	border: 1px solid #88C7F2;
	float: left;
	margin:5px 10px 0 0;
}

.borrowInfo_detail_right_percentInfo_percent .inner{
	width: 0;
	height: 4px;
	overflow: hidden;
	background: #39A1EA;
}
.borrowInfo_detail_right_percentInfo span{
	color: #39A1EA;
	font-size: 12px;
    float: left;
}
.borrowInfo_detail_right .lendBtn{
	display: block;
	width: 176px;
	height: 32px;
	background: #39A1EA;
	border-radius: 3px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 16px;
	margin-top: 6px;
}
.borrowInfo_detail_right .lendBtn:hover {
    background: #1d83ca;
}
.indexTabVierMore{
	display: block;
	background: #FAFAFA;
	height: 34px;
	line-height: 34px;
	text-align: center;
	margin-top: 15px;
}
.indexTabVierMore:hover {
    color: #20a2e2;
}
.lendInfo h3.title{
	font-size: 16px;
	border-bottom: 1px dashed #E2E2E2;
	font-weight: normal;
	padding-bottom: 5px;
	text-indent: 10px;
}
.lendInfo h3.blue{
	color: #006691;
}
.lendInfo h3.yellow{
	color: #E7AD00;	
}
.lendInfo h3.red{
	color: #EF4002;	
}
.lendInfo_detailInfo{
	position: relative;
}
.lendInfo_detailInfo ul{
	padding-top: 9px;
	padding-left: 10px;
}
.lendInfo_detailInfo li{
	font-size: 14px;
	color: #666;
	border-left: 3px solid #999;
	margin-bottom: 8px;
	padding-left: 10px;
	height: 20px;
	
}
.lendInfo_detailInfo .quickApply{
	width: 176px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	background: #39A1EA;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -16px;
}
.index_info .infoRight{
	float: right;
	width: 274px;
}
.index_info .infoRight .part{
	border: 1px solid #e9e9e9;
	border-radius: 5px 5px 0 0;
	margin-bottom: 17px;
}
.index_info .infoRight .part h4{
	height: 40px;
	line-height: 40px;
	background: #F7F7F7;
	color: #555;
	font-size: 16px;
	text-indent: 14px;
	font-weight: normal;
}
.index_info .infoRight .part h4 a{
	float: right;
	height: 40px;
	line-height: 40px;
	color: #008FCF;
	padding-right: 15px;
}
.index_info .infoRight .part ul{
	padding-left: 12px;
	padding-top: 15px;
}
.index_info .infoRight .part ul li{
	height: 14px;
	overflow: hidden;
	border-left: 3px solid #999;
	margin-bottom: 15px;
	padding-left: 4px;
}
.index_info .infoRight .part ul li a{
	display: block;
	height: 14px;
	line-height: 14px;
	width: 252px;
}
.index_info .infoRight .part ul li:hover{
	border-left: 3px solid #20A2E2;
}
.index_info .infoRight .part ul li:hover a{
	color: #20A2E2;
}
.index_info .infoRight .pos{
	position: relative;
	height: 68px;
	margin-bottom: 0;
	line-height: 68px;
	color: #2980B9;
	font-size: 16px;
	text-indent: 110px;
}
.index_info .infoRight .pos a:hover {
    color: #20a2e2;
}
.index_info .infoRight .pos span{
	position: absolute;
	width: 25px;
	height: 23px;
	background: url(img/ppdai2014Icon.png) -96px 0 no-repeat;
	top: 50%;
	margin-top: -11px;
	left: 70px;
}
.index_case{
	margin-bottom: 55px;
}
.index_case_case{
	width: 424px;
	border: 1px solid #D6D6D6;
	float: left;
	margin-right: 29px;
}
.index_case_case .img{
	position: relative;
	margin-bottom: 10px;
}
.index_case_case .text{
	position: absolute;
	width: 364px;
	left: 50%;
	margin-left: -182px;
	top: 60px;
}
.index_case_case .text p{
	color: #fff;
	font-family: "宋体";
	line-height: 2;
	text-indent: 2em;
}
.index_case_case .text p a {
    color: #ffffff;
    display: block;
}
.index_case_case .text h3{
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}
.index_case_case .explain{
	padding-bottom: 8px;
}
.index_case_case .explain h3,.index_case_weixin .explain h3{
	font-size: 25px;
	color: #666;
	font-weight: normal;
	text-align: center;
	margin-bottom: 10px;
}
.index_case_case .explain p,.index_case_weixin .explain p{
	color: #999;
	text-align: center;
	line-height: 1.7;
}
.index_case_weixin{
	border: 1px solid #D6D6D6;
	float: left;
	margin-left: 1px;
	height: 447px;
}
.index_case_weixin .img {
    margin-bottom: 10px;
}
.footer_inner{
	width: 1188px;
	margin: 0 auto 20px;
	padding-top: 48px;
}
.footer_footerNav{
	float: right;
}
.footer_footerNav dl{
	float: left;
	margin: 0 50px;
}
.footer_footerNav dl dt{
	font-weight: bold;
	color: #666;
	margin-bottom: 15px;
}
.footer_footerNav dl dd a{
	color: #666;
	display: block;
	height: 26px;
	line-height: 26px;
}
.footer_footerInfo{
	float: left;
	width: 360px;
}
.footer_footerInfo img{
	display: block;
	margin: 0 auto 10px;
}
.footer_footerInfo p{
	color: #666;
	font-size: 12px;
	line-height: 1.7;
}
.footer_footerBottomLinks{
	text-align: center;
}
.footer_footerBottomLinks{
	padding-top: 5px;
}
.footer_footerBottomLinks span{
	color: #666;
}
.footer_footerBottomLinks a{
	margin-right: 5px;
}

#kinMaxShow .KMSPrefix_kinMaxShow_button {
    left: 50%;
    margin-left: -60px;
}
.footer_footerBottom .f_link_nav{
		line-height:23px;
color: #666;
padding-bottom:20px;
overflow:hidden;
	}
.footer_footerBottom .f_link_nav .l-t{width:80px;float: left;}
.footer_footerBottom .f_link_nav .r-t{ width:1108px; word-break:break-all;word-wrap:break-word;float: left;}
.footer_footerBottom .f_link_nav a{
	display:block;
	float:left;
	margin:0 5px;
    width: 171px;
}











